@font-face {
  font-family: "Bauplan";
  font-style: normal;
  font-weight: 900;
  src:
    local("Bauplan Heavy"),
    local("Bauplan-Heavy"),
    url("Bauplan/WOFF2/Bauplan-Heavy.woff2") format("woff2");
}

@font-face {
  font-family: "Bauplan";
  font-style: italic;
  font-weight: 900;
  src:
    local("Bauplan Heavy Italic"),
    local("Bauplan-HeavyItalic"),
    url("Bauplan/WOFF2/Bauplan-HeavyItalic.woff2") format("woff2");
}

@font-face {
  font-family: "Bauplan";
  font-style: normal;
  font-weight: 400;
  src:
    local("Bauplan Regular"),
    local("Bauplan-Regular"),
    url("Bauplan/WOFF2/Bauplan-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Diform";
  font-style: normal;
  font-weight: 700;
  src:
    local("Diform Bold"),
    local("Diform-Bold"),
    url("Diform/WOFF2/Diform-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Diform";
  font-style: normal;
  font-weight: 400;
  src:
    local("Diform Regular"),
    local("Diform-Regular"),
    url("Diform/WOFF2/Diform-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "360 Logo";
  font-style: normal;
  font-weight: 400;
  src:
    local("360 Regular"),
    local("360-Regular"),
    url("Logo%20Font/360-Regular.otf") format("opentype");
}
